@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-literata), serif;
  --font-heading1: var(--font-northwell), cursive;
  --font-heading2: var(--font-literata), serif;

  --color-gold: #daa520;
  --color-olive: #d1d3ca;
  --color-creme: #faf6e8;
  --color-pink: #b9a5a5;
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility heading-1 {
  /* Headings */
  @apply font-heading1 text-6xl md:text-7xl;
}

@utility heading-2 {
  @apply font-heading2 text-5xl md:text-6xl uppercase;
}

@utility heading-3 {
  @apply font-heading2 text-4xl uppercase;
}

@utility body-text {
  /* Body Text */
  @apply max-w-none text-lg;
}

@utility body-text-dark {
  @apply max-w-none text-gray-300; /* Specific for dark backgrounds */
}

@utility body-text-light {
  @apply max-w-none text-gray-700; /* Common light bg text */
}

@utility body-text-subtle {
  @apply text-lg font-sans text-gray-700; /* For things like subtitles */
}

@utility btn {
  /* Buttons */
  @apply inline-block py-2 px-6 transition duration-300 uppercase text-sm tracking-wider;
}

@utility btn-primary {
  @apply btn bg-gray-800 text-white hover:bg-gray-700;
}

@utility btn-primary-dark-bg {
  @apply btn bg-white text-gray-900 hover:bg-gray-200;
}

@utility btn-primary-light-bg {
  @apply btn bg-gray-800 text-white hover:bg-gray-700;
}

@utility btn-submit {
  @apply p-3 bg-gray-800 text-white hover:bg-gray-700 transition-colors; /* Specific for form submit */
}

@layer utilities {
  :root {
    --background: #ffffff;
    --olive: #d1d3ca;
    --creme: #faf6e8;
    --pink: #b9a5a5;
    --foreground: #171717;
  }

  body {
    @apply bg-background text-foreground;
  }
}
